Test.xsd

<?xml version="1.0"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ipfx">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="queues">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="queue">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" name="description" type="xs:string" />
                    <xs:element minOccurs="0" name="status" type="xs:string" />
                    <xs:element minOccurs="0" name="answercount" type="xs:int" />
                    <xs:element minOccurs="0" name="abandonedcount" type="xs:int" />
                    <xs:element minOccurs="0" name="othercount" type="xs:int" />
                    <xs:element minOccurs="0" name="gradeofservice" type="xs:string" />
                    <xs:element minOccurs="0" name="extensionsloggedin" type="xs:int" />
                    <xs:element minOccurs="0" name="queueingcount" type="xs:int" />
                    <xs:element minOccurs="0" name="longestqueuetime" type="xs:int" />
                    <xs:element minOccurs="0" name="maximumcallsqueued" type="xs:int" />
                    <xs:element minOccurs="0" name="maximumqueuetime" type="xs:int" />
                    <xs:element minOccurs="0" name="totalqueuetimeforansweredcalls" type="xs:int" />
                    <xs:element minOccurs="0" name="totaltalktime" type="xs:int" />
                    <xs:element minOccurs="0" name="warningcount" type="xs:int" />
                    <xs:element minOccurs="0" name="warningtime" type="xs:int" />
                    <xs:element minOccurs="0" name="alertcount" type="xs:int" />
                    <xs:element minOccurs="0" name="alerttime" type="xs:int" />
                    <xs:element minOccurs="0" name="agents" />
                  </xs:sequence>
                  <xs:attribute name="id" type="xs:int" use="optional" />
                  <xs:attribute name="lastupdate" type="xs:string" use="optional" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="extensions" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>